@import "variables";
@import "font";

/* styles*/
body {
  font-family: 'Infinity', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
}

a {
  text-decoration: none;
}

footer a {
  text-decoration: none;
  color: #333
}

